<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
    {% block stylesheet %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('assets/css/profileMenu.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/rating.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/imageExpander.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ asset('assets/bower_components/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/css/material-design-icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/node_modules/jquery-bar-rating/dist/themes/fontawesome-stars.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('assets/css/rating.css') }}">

    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="">
    <!-- Navigation -->
    {{ include('navigation.html.twig') }}

    <div class="container">

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}


        {% block body %}
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Blank Page
                        <small>Subheading</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Blank Page
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
        {% endblock %}
    </div>
    <!-- /.container-fluid -->

</div>
<!-- jQuery -->
<script src="{{ asset('assets/bower_components/jquery/dist/jquery.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('assets/js/bootstrap.js') }}"></script>
{% block scripts %}
    <script src="{{ asset('assets/node_modules/jquery-bar-rating/dist/jquery.barrating.min.js') }}"></script>

{% endblock %}
</body>

</html>
