{% extends 'base.html.twig' %}

{% block body %}
    {% for book in books %}
        <a href="{{ path('view_the_book', {slug: book.slug}) }}">
            {% if (book.cover)|does_file_exists %}
                <img src="{{ asset('/uploads/covers/' ~ book.cover) }}" class="img-thumbnail" alt="Cinque Terre" width="150" height="200">
            {% else %}
                <img src="http://cdn.ravelbook.com/images/book-cover-placeholder.png" class="img-thumbnail" alt="Cinque Terre" width="150" height="200">
            {% endif %}
        </a>
    {% endfor %}
{% endblock %}