{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{ asset('uploads/users/avatar/' ~ app.user.avatar) }}" class="img-responsive" alt="">
                        {{ form_start(avatar) }}
                        {{ form_row(avatar.avatar) }}
                        {{ form_end(avatar) }}
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ app.user.name }}
                            {{ app.user.lastname }}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    {#<div class="profile-userbuttons">#}
                    {#<button type="button" class="btn btn-success btn-sm">Follow</button>#}
                    {#<button type="button" class="btn btn-danger btn-sm">Message</button>#}
                    {#</div>#}
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li role="presentation" class="active">
                                <a href="#info" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-home"></i>
                                    {{ 'Profile'|trans }} </a>
                            </li>
                            <li>
                                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-user"></i>
                                    {{ 'Account Settings'|trans }} </a>
                            </li>
                            <li>
                                <a href="#goals" ria-controls="settings" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    {{ 'Goals'|trans }} </a>
                            </li>
                            <li>
                                <a href="#timeline" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    {{ 'Timeline'|trans }} </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="info">
                        <div class="progress progress-striped active">
                            {% set booksRead = 0 %}
                            {% for shelfBook in app.user.shelfedBooks %}
                                {% if shelfBook.shelf.name == 'Read' %}
                                    {% set booksRead = booksRead + 1 %}
                                {% endif %}
                            {% endfor %}

                            <p class="alert alert-success raised"><strong>Books read: {{ booksRead }}</strong></p>

                            <p class="alert alert-success goal"><strong>Books to read: {{ goalForm.vars.value.booksToRead }}</strong></p>

                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ (booksRead / goalForm.vars.value.booksToRead ) * 100 }}%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <canvas id="myChart" width="400" height="100">asd</canvas>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <h3>{{ 'Personal data'|trans }}</h3>
                        {{ form_start(profile) }}
                        {{ form_row(profile.name) }}
                        {{ form_row(profile.lastname) }}
                        {{ form_row(profile.username) }}
                        {{ form_row(profile.email) }}
                        {{ form_row(profile.plainPassword) }}
                        <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                        {{ form_end(profile) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="goals">
                        <h3>{{ 'Set a new goal'|trans }}</h3>
                        {{ form_start(goalForm) }}
                        <label for="">Book i will read in this year.</label>
                        <div class="input-group">
                            {{ form_widget(goalForm.booksToRead) }}
                            <div class="input-group-btn">
                                <button class="btn bt-default" type="submit">asd</button>
                            </div>
                        </div>
                        {{ form_end(goalForm) }}

                        <h3>{{ 'Previous goals'|trans }}</h3>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="timeline">
                        <h2>{{ 'Timeline'|trans }}</h2>
                        <section id="cd-timeline" class="cd-container">
                            <div class="cd-today-date">
                                {{ 'now'|date('D g:i a') }}
                            </div>
                            {% for event in timeline %}
                                <div class="cd-timeline-block">
                                    <div class="cd-timeline-img cd-picture">
                                        <img src="{{ asset('assets/images/timeline/' ~ event.image) }}" alt="Picture">
                                    </div> <!-- cd-timeline-img -->

                                    <div class="cd-timeline-content">
                                        <h2>{{ event.title }}</h2>
                                        <p>{{ event.description }}</p>
                                        <a href="{{ path('view_the_book', {id: event.parentId}) }}#review{{ event.userId }}"
                                           class="cd-read-more">{{ 'Open'|trans }}</a>
                                        <span class="cd-date">{{ event.createdAt|date('D g:i a') }}</span>
                                    </div> <!-- cd-timeline-content -->
                                </div> <!-- cd-timeline-block -->
                            {% endfor %}
                            <div class="cd-load-more btn">
                                {{ 'Load more'|trans }}
                            </div>
                        </section> <!-- cd-timeline -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tab panes -->
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/vertical-timeline.css') }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/form.js') }}"></script>
    <script src="{{ asset('assets/js/vertical-timeline.js') }}"></script>
    <script src="{{ asset('assets/node_modules/chart.js/dist/Chart.js') }}"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var dbData;

        $.getJSON("{{ path('get_data_for_one_year') }}", function (result) {
            dbData = JSON.parse(result);
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"],
                    datasets: [
                        {
                            label: "Total pages read",
                            fill: true,
                            lineTension: 0.3,
                            backgroundColor: "rgba(75,192,192,0.4)",
                            borderColor: "rgba(75,192,192,1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,0)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: dbData,
                            spanGaps: true,

                        }
                    ]
                },
                options: {
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: false
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}